 /* ================TOUTES LA PAGE=========== */
 * {
     padding: 0;
     margin: 0;
     box-sizing: border-box;
     font-family: Raleway, sans-serif;
     color: black;
 }

 html {
     font-size: 16px;
 }

 a {
     text-decoration: none;
 }

 ul {
     list-style-type: none;
 }

 fieldset {
     border: none
 }
 .site-content{
    
     max-width: 1800px;
     margin: auto;
 }

 /* +++ MOBILE  ++++ */
 /* +++ HEADER  ++++ */
 navbar a {
     display: block;
     font-size: 1.2rem;
     font-weight: 500;
 }

 .logo {
     height: 55px;
     margin: 20px 0 20px 5%;
 }

 .navbar-container {
     display: flex;
     justify-content: flex-end;
     width: 100%;
     position: relative;
     margin-top: 10px;
     flex-wrap: wrap-reverse;
 }

 .hebergement-link {
     width: 50%;
     text-align: center;
     border-bottom: solid 3px #0065fc;
     color: #0065fc;
     padding-bottom: 10px;
     position: relative;
     transition:  color 0.5s;
 }

 .activity-link {
     width: 50%;
     text-align: center;
     border-bottom: solid 3px #f2f2f2;
     padding-bottom: 10px;
     position: relative;
     transition: color 0.5s;
 }

 .suscrib-link {
     font-weight: 700;
     position: relative;
     bottom: 56px;
     margin-right: 5%;
     color: #0065fc;
 }

 .titre_container {
     margin: 30px 60px 0 5%;
 }

 .titre_principal {
     font-size: 1.3rem;
     margin-bottom: 10px;
 }

 .titre_secondaire {
     font-weight: 500;
     font-size: 1rem;
 }

 .activity-link:hover {
     border-bottom: solid 3px #0065fc;
     color: #0065fc;
 }

 .suscrib-link:hover {
     color: #0065fc;
     font-weight: bolder;
 }

 /* +++ RECHERCHE  ++++ */
 .btn-recherche {
     margin-left: 5%;
     margin-right: 5%;
     margin-top: 35px;
     display: flex;
     grid-area: btn;
 }

 .pin-icone {
     background-color: #f2f2f2;
     height: 50px;
     width: 50px;
     border-radius: 17% 0% 0% 17%;
     display: flex;
 }

 .pin-icone i {
     margin: auto;
     color: black;
     font-size: large;
 }

 .btn-recherche__input {
     height: 50px;
     width: 250px;
     font-size: 1rem;
     font-weight: bold;
     padding-left: 15px;
     border: solid 1px #f2f2f2;
     outline: none;
 }

 .btn-recherche__input__submit {
     visibility: hidden;
 }

 .btn-recheche__loupe {
     background-color: #0065fc;
     height: 50px;
     width: 50px;
     border-radius: 15px;
     display: flex;
     align-items: center;
     position: absolute;
     left: 293px;
 }

 .btn-recheche__loupe i {
     margin: auto;
     color: #f2f2f2;
 }

 /* +++ FILTER ++++ */
 .filter-container {
     margin-left: 5%;
     display: flex;
     flex-wrap: wrap;
     align-items: center;
 }

 .filter-title {
     width: 100%;
     font-size: 1rem;
     margin-top: 30px;
     margin-left: 5px;
 }

 .filter-item {
     display: flex;
     margin: 10px;
     position: relative;
     top: 25px;
     transition: 0.3s;
 }

 .filter-item i {
     font-size: medium;
 }

 .filter-input {
     transition: all 0.5s;
 }

 .filter-input:hover {
     transform: scale(1.05);
     box-shadow: 0 0 40px -10px rgba(0, 0, 0, 0.25);
     background-color: #0065fc;
     color: #deebff;
 }

 .filter-icone {
     background-color: #deebff;
     height: 55px;
     width: 55px;
     border-radius: 50%;
     display: flex;
     position: absolute;
     left: -7px;
     top: -2px;
     z-index: 1;
 }

 .filter-icone i,
 .icone-info i {
     color: #0065fc;
     margin: auto;
 }

 .filter-item-formulaire {
     display: flex;
     justify-content: flex-start;
 }

 .filter-item-formulaire input {
     height: 50px;
     border: solid 1px #deebff;
     border-radius: 20px;
     padding-left: 56px;
     font-weight: bold;
 }

 .eco input {
     width: 155px;
 }

 .famille input {
     width: 129px;
 }

 .romantique input {
     width: 154px;
 }

 .animaux input {
     width: 190px;
 }

 .info-container {
     display: flex;
     margin: 60px 0 40px 5%;
     align-items: center;
 }

 .info {
     font-size: 1rem;
     padding-left: 15px;
     font-weight: 300;
 }

 .icone-info {
     display: flex;
     height: 25px;
     width: 25px;
     border: solid 1px #deebff;
     border-radius: 50%;
 }

 /* +++ TITRES DES CARDS ++++ */
 .title-cards-aside,
 .hebergement_body_title,
 .body-activity {
     font-size: 1rem;
 }

 /* +++ PRIX DES CARDS ++++ */
 .prix-aside,
 .hebergement_body_price {
     font-size: 0.8rem;
     font-weight: 400;
 }

 /* +++ NOTES DES CARDS ++++ */
 .fas {
     font-size: 0.7rem;
     color: #f2f2f2;
 }

 /* +++ HOVER DES CARDS ++++ */
 .cards-aside:hover,
 .hebergement_cards:hover,
 .activite__cards:hover {
     transform: scale(1.05);
     box-shadow: 0 0 40px -10px rgba(0, 0, 0, 0.25);
 }

 /* +++ HOVER DES LIENS ET COULEUR BLEU NOTES ++++ */
 .blue-star i,
 .aside_title i:hover,
 .moore:hover,
 .list-element a:hover {
     color: #0065fc;
 }

 /* +++ ASIDE ++++ */
 aside {
     background-color: #f2f2f2;
 }

 .aside_title {
     display: flex;
     align-items: center;
     margin-left: 6%;
     margin-bottom: 25px;
     justify-content: space-between;
 }

 .aside_title h2 {
     margin-top: 40px;
 }

 .aside_title i {
     color: black;
     font-size: 1.3rem;
     padding-right: 20px;
     margin-top: 43px;
     transition: color 0.5s;
 }

 .cards-aside-content {
     display: flex;
     justify-content: center;
     /* align-items: center; */
     flex-wrap: wrap;
 }

 .cards-aside {
     display: flex;
     justify-content: center;
     background-color: white;
     max-width: 345px;
     margin: 0 5% 30px 5%;
     border-radius: 17px;
     box-shadow: 1px 1px 15px darkgrey;
     transition: 0.3s;
 }

 .cards-aside-body {
     position: relative;
     margin: 15px 15px 5px 15px;
 }

 .note-aside {
     position: absolute;
     top: 70px;
 }

 .aside-thumb {
     object-fit: cover;
     height: 115px;
     width: 128px;
     padding: 5px;
     border-radius: 17px 0px 0px 17px;
 }

 .note-aside {
     display: flex;
 }

 /* +++ MAIN HEBERGEMENTS ++++ */
 .hebergement_title {
     margin: 20px 0 25px 3%;
 }

 /* cards hebergement */
 .hebergement-cards-content {
     display: flex;
     flex-wrap: wrap;
     justify-content: center;
     align-items: flex-start;

 }

 .hebergement_cards {
     background-color: white;
     max-width: 335px;
     height: auto;
     border-radius: 17px;
     margin-bottom: 30px;
     box-shadow: 1px 1px 15px rgb(111, 111, 111);
     transition: 0.3s;
 }

 .hebergement_body {
     margin-left: 15px;
 }

 .hebergement_body_note {
     display: flex;
     padding-bottom: 5px;
 }

 .hebergement-thumb {
     object-fit: cover;
     height: 115px;
     width: 100%;
     padding: 5px;
     border-radius: 17px 17px 0px 0px;
 }

 .moore {
    position: relative;
    top: 6px;
     font-weight: bold;
     margin-left: 30px;
     margin-bottom: 25px;
     transition: color 0.5s;
 }

 /* +++ ACTIVITE ++++ */
 #activity {
     margin-top: 60px;
 }

 .activite__title {
     margin-left: 4%;
     margin-bottom: 30px;
 }

 .activite__cards {
     background-color: white;
     max-width: 335px;
     height: auto;
     margin-left: auto;
     margin-right: auto;
     border-radius: 17px;
     margin-bottom: 20px;
     box-shadow: 1px 1px 15px darkgrey;
     transition: 0.3s;
 }

 .body-activity {
     margin-left: 18px;
     margin-top: 20px;
     padding-bottom: 15px;
 }

 .activity-thumb {
     object-fit: cover;
     height: 136px;
     width: 100%;
     border-radius: 17px 17px 0px 0px;
 }

 /* +++ FOOTER ++++ */
 .footer_body {
     margin-left: 3%;
 }

 footer {
     width: 100vh;
     background-color: #f2f2f2;
     padding: 30px;
 }

 .list-element {
     margin-top: 30px;
     margin-bottom: 30px;
 }

 .list-element a {
     transition: color 0.5s;
 }

 /* +++ POUR LES TABLETTES ++++ */
 @media only screen and (min-width: 768px) {
     .cards-activity-content {
         display: flex;
         justify-content: center;
         flex-wrap: wrap;
         margin: 0 0.5% 0 1.5%;
     }

     .hebergement_cards {
         margin: 20px;
     }


     /* +++ VERSION DESKTOP ++++ */
     @media only screen and (min-width: 900px) {
         .site-content {
             width: 100%;
             display: grid;
             grid-template-columns: 1fr 60% 30px 33% 1fr;
             grid-template-areas:
                 "  header header header header header"
                 " search search search search search"
                 " filter  filter filter filter filter"
                 "  . main .  aside . "
                 ". activity  activity activity . "
                 " footer footer footer footer footer";
         }

         /* +++ HEADER++++ */
         header {
             grid-area: header;
         }
         .titre_container{
             margin: 0 0 0 5%;
         }
         .navbar-container {
             flex-wrap: nowrap;
             position: relative;
             top: -109px;
         }

         .hebergement-link {
             width: auto;
             margin-left: 60px;
             border-bottom: none;
             border-top: solid 3px #0065fc;
             padding-top: 40px;
         }

         .activity-link {
             width: auto;
             margin-left: 60px;
             border-bottom: none;
             padding-top: 40px;
         }

         .suscrib-link {
             position: initial;
             margin-left: 75px;
             padding-top: 40px;
             text-align: center;
             display: block;
             widows: 150px;
         }

         .suscrib-link:hover {
             border-top: solid 3px #0065fc;
         }

         .activity-link:hover {
             border-bottom: none;
             border-top: solid 3px #0065fc;
             color: #0065fc;
         }

         /* +++ SEARCH BAR ++++ */
         .search {
             grid-area: search;
             margin-top: 20px ;
             margin-bottom: 20px;
         }

         .btn-recherche__input__submit {
             visibility: visible;
             position: absolute;
             height: 50px;
             border: none;
             border-radius: 0px 16px 16px 0px;
             background-color: #0065fc;
             color: #f2f2f2;
             font-weight: bold;
             padding: 15px;
         }

         .btn-recheche__loupe {
             visibility: hidden;
         }

         /* +++ FILTER ++++ */
         .filter {
             grid-area: filter;
         }

         .filter-container {
             display: flex;
         }

         .filter-title {
             width: unset;
             margin: 0;
             padding-top: 50px;
             margin-right: 40px;
         }

         /* +++ HEBERGEMENT++++ */
         main {
             background-color: #f2f2f2;
             height: auto;
             border-radius: 17px;
             grid-area: main;
             width: 100%;
             padding: 20px;
             margin-left: 15px;
         }

         .hebergement-cards-content {
             /* display: flex; */
             /* flex-wrap: wrap; */
             /* justify-content: center; */
             /* align-items: flex-start; */


         }

         .hebergement_cards {
             max-width: 245px;
             margin: 10px;
         }

         .moore {
             padding-top: 20px;
             padding-bottom: 20px;
         }

         /* +++ ASIDE ++++ */
         aside {
             height: auto;
             border-radius: 17px;
             grid-area: aside;
             margin-left: auto;
         }

         .cards-aside {
             min-width: 290px;
         }

         /* +++ ACTIVITE ++++ */
         #activity {
             grid-area: activity;
         }

         .cards-activity-content {
             display: grid;
             grid-template-columns: 22.5% 1fr 22.5% 1fr 22.5% 1fr 22.5%;
             grid-template-rows: 3fr;
         }

         .port img,
         .calanques img {
             height: 305px;
         }

         .port {
             grid-area: 1/1/4/2;
         }

         .fort {
             grid-area: 1/3/2/4;
         }

         .frioul {
             grid-area: 2/3/4/4;
         }

         .calanques {
             grid-area: 1/5/4/6;
         }

         .dame {
             grid-area: 1/7/2/8;
         }

         .parc {
             grid-area: 2/7/3/8;
         }

         /* +++ FOOTER++++ */
         footer {
             grid-area: footer;
             width: 100%;
             padding: 45px 0 50px 0;
         }

         .footer_body {
             display: flex;
         }

         .listb,
         .listc {
             margin-left: 180px;
         }

     }

     /* +++ ASIDE ++++ */
     @media only screen and (min-width: 1835px) {

         .hebergement-cards-content {
             margin: auto;
             display: grid;
             grid-template-columns: repeat(3, 1fr);
         }

     }