 /* ================TOUTES LA PAGE=========== */
 * {
     padding: 0;
     margin: 0;
     box-sizing: border-box;
     font-family: Raleway, sans-serif;
     color: black;
 }

 /* ================TAILLE DE LA POLICE DE BASE POUR LE SITE=========== */
 html {
     font-size: 16px;
 }

 a {
     text-decoration: none;
 }

 ul {
     list-style-type: none;
 }

 fieldset {
     border: none
 }




 /* ++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++ MOBILE  ++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++ */




 /* ++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++ NAVBAR ++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++ */
 navbar a {
     display: block;
     font-size: 1.2rem;
     font-weight: 500;
 }

 .logo {
     height: 55px;
     margin-top: 30px;
     margin-left: 5%;
 }


 .navbar-container {
     display: flex;
     justify-content: flex-end;
     width: 100%;
     position: relative;
     margin-top: 20px;
     flex-wrap: wrap-reverse;
 }

 .hebergement-link {
     width: 50%;
     text-align: center;
     border-bottom: solid 3px #0065fc;
     color: #0065fc;
     padding-bottom: 10px;
     position: relative;
     transition: 0.5s;

 }

 .activity-link {
     width: 50%;
     text-align: center;
     border-bottom: solid 3px #f2f2f2;
     padding-bottom: 10px;
     position: relative;
     transition: 0.5s;
 }

 .suscrib-link {
     font-weight: 700;
     position: relative;
     bottom: 56px;
     margin-right: 5%;
     color: #0065fc;
 }

 .titre_container {
     margin: 35px 60px 0 5%;

 }

 .titre_principal {
     font-size: 1.3rem;
     margin-bottom: 10px;
 }

 .titre_secondaire {
     font-weight: 500;
     font-size: 1rem;
 }

 /* Survol des liens */


 .activity-link:hover {
     border-bottom: solid 3px #0065fc;
     color: #0065fc;
 }

 .suscrib-link:hover {
     color: #0065fc;
     font-weight: bolder;
 }

 /* ++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++ SEARCH BAR ++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++ */


 .btn-recherche {
     margin-left: 5%;
     margin-right: 5%;
     margin-top: 35px;
     display: flex;
     grid-area: btn;
 }

 .pin-icone {
     background-color: #f2f2f2;
     height: 50px;
     width: 50px;
     border-radius: 17% 0% 0% 17%;
     display: flex;
     font-size: large;

 }

 .pin-icone i {
     margin: auto;
     color: black;

 }

 .btn-recherche__input {
     height: 50px;
     width: 250px;
     font-size: 1rem;
     font-weight: bold;
     padding-left: 15px;
     border: solid 1px #f2f2f2;
     outline: none;
 }

 .btn-recherche__input__submit {
     visibility: hidden;


 }

 .btn-recheche__loupe {
     background-color: #0065fc;
     height: 50px;
     width: 50px;
     border-radius: 15px;
     display: flex;
     align-items: center;
     position: absolute;
     left: 293px;


 }

 .btn-recheche__loupe i {
     margin: auto;
     color: #f2f2f2;
 }

 /* ++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++ FILTER SECTION ++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++ */
 /* filtre */

 .filter-container {
     margin-left: 5%;
     display: flex;
     flex-wrap: wrap;
     align-items: center;
 }

 .filter-title {
     width: 100%;
     font-size: 1rem;
     margin-top: 30px;
     margin-left: 5px;

 }

 .filter-item {
     display: flex;
     margin: 10px;
     position: relative;
     top: 25px;
     transition: 0.3s;

 }

 .filter-item i {
     font-size: medium;
 }

 .filter-input {
     transition: all 0.5s;

 }

 .filter-input:hover {
     transform: scale(1.05);
     box-shadow: 0 0 40px -10px rgba(0, 0, 0, 0.25);
     background-color: #0065fc;
     color: #deebff;

 }




 .filter-icone {
     background-color: #deebff;
     height: 55px;
     width: 55px;
     border-radius: 50%;
     display: flex;
     position: absolute;
     left: -7px;
     top: -2px;

     z-index: 1;
 }

 .filter-icone i {
     color: #0065fc;
 }

 .filter-item-formulaire {
     display: flex;
     justify-content: flex-start;
 }

 .filter-item-formulaire input {
     height: 50px;
     border: solid 1px #deebff;
     border-radius: 20px;
     padding-left: 56px;
     font-weight: bold;
 }

 .eco input {
     width: 155px;
 }

 .famille input {
     width: 129px;
 }

 .romantique input {
     width: 154px;
 }

 .animaux input {
     width: 190px;
 }

 .filter-icone i {
     margin: auto;
 }

 .info-container {
     display: flex;
     margin-left: 5%;
     margin-top: 35px;
     margin-bottom: 40px;
     align-content: center;
 }

 .info {
     font-size: 1rem;
     margin-left: 10px;
     margin-right: 5%;
     font-weight: 400;
 }

 .icone-info {
     display: flex;
     height: 25px;
     width: 25px;
     border: solid 1px #deebff;
     border-radius: 50%;
 }

 .icone-info i {
     margin: auto;
     font-size: 0.6rem;
     color: #0065fc;
 }

 /* taille et couleurde bases notes cards */
 .fas {
     font-size: 0.7rem;
     color: #f2f2f2;
 }

 .blue-star i {
     color: #0065fc;
 }

 /* ++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++ ASIDE ++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++ */

 aside {
     background-color: #f2f2f2;

 }

 .aside_title {
     display: flex;
     align-items: center;
     margin-left: 6%;
     margin-bottom: 25px;
     justify-content: space-between;

 }

 .aside_title h2 {
     margin-top: 30px;

 }

 .aside_title i {
     color: black;
     font-size: 1.3rem;
     padding-right: 20px;
     margin-top: 33px;
 }

 .cards-aside-content {
     display: flex;
     justify-content: center;
     flex-wrap: wrap;
 }

 .cards-aside {
     display: flex;

     justify-content: center;
     background-color: white;
     max-width: 333px;
     margin-left: 5%;
     margin-right: 5%;
     border-radius: 17px;
     margin-bottom: 30px;
     box-shadow: 1px 1px 15px darkgrey;
     transition: 0.3s;
 }

 .cards-aside-body {
     position: relative;
     margin: 15px 15px 5px 15px;

 }

 .hebergement_body {
     margin-left: 15px;
 }

 .title-cards-aside,
 .hebergement_body_title,
 .body-activity {
     font-size: 1rem;
 }

 .body-activity {
     margin-left: 18px;
     margin-top: 20px;
     padding-bottom: 15px;
 }

 .prix-aside,
 .hebergement_body_price {
     font-size: 0.8rem;
     font-weight: 400;
 }

 .note-aside {
     position: absolute;
     top: 70px;
 }

 .aside-thumb {
     object-fit: cover;
     height: 115px;
     width: 128px;
     padding: 5px;
     border-radius: 17px 0px 0px 17px;
 }

 .cards-aside:hover {
     transform: scale(1.05);
     box-shadow: 0 0 40px -10px rgba(0, 0, 0, 0.25);

 }

 .note-aside {
     display: flex;
 }

 /* ++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++ MAIN (HEBERGEMENT) ++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++ */


 .hebergement_title {
     margin-top: 20px;
     margin-bottom: 25px;
     margin-left: 7%;

 }

 .hebergement-cards-content {
     display: flex;
     flex-wrap: wrap;
     align-items: center;
     justify-content: center;


 }

 /* cards hebergement */
 .hebergement_cards {
     background-color: white;
     max-width: 335px;
     height: auto;
     margin: 10px;
     border-radius: 17px;
     margin-bottom: 20px;
     box-shadow: 1px 1px 15px rgb(111, 111, 111);
     transition: 0.3s;
 }

 .hebergement_body_note {
     display: flex;
     padding-bottom: 5px;
 }

 .hebergement-thumb {
     object-fit: cover;
     height: 115px;
     width: 100%;
     padding: 5px;
     border-radius: 17px 17px 0px 0px;
 }

 .hebergement_cards:hover {
     transform: scale(1.05);
     box-shadow: 0 0 40px -10px rgba(0, 0, 0, 0.25);
 }

 .moore {
     font-weight: bold;
     margin-left: 30px;
     margin-bottom: 25px;
     transition: color 0.5s;
 }

 .moore:hover {
     color: #0065fc;
 }

 /* ++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++ ACTIVITY ++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++ */
 #activity {
     margin-top: 60px;

 }

 .activite__title {
     margin-left: 6%;
     margin-bottom: 30px;
 }

 .activite__cards {
     background-color: white;
     max-width: 335px;
     height: auto;
     margin-left: auto;
     margin-right: auto;
     border-radius: 17px;
     margin-bottom: 20px;
     box-shadow: 1px 1px 15px darkgrey;
     transition: 0.3s;
 }

 .activite__cards:hover {
     transform: scale(1.05);
     box-shadow: 0 0 40px -10px rgba(0, 0, 0, 0.25);
 }

 .activity-thumb {
     object-fit: cover;
     height: 136px;
     width: 100%;
     border-radius: 17px 17px 0px 0px;
 }

 .footer_body {
     margin-left: 3%;


 }

 footer {
     width: 100%;
     background-color: #f2f2f2;
     padding: 30px;

 }

 .list-element {
     margin-top: 30px;
     margin-bottom: 30px;
 }

 .list-element a {
     transition: color 0.5s;
 }

 .list-element a:hover {
     color: #0065fc;


 }

 @media only screen and (min-width: 768px) {
     .cards-activity-content {
         display: flex;
         justify-content: center;
         flex-wrap: wrap;

         margin-left: 1.5%;
         margin-right: 0.5%;
     }





 }

 /* ++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++ DESKTOP  ++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++ */

 @media only screen and (min-width: 900px) {
     .site-content {
         width: 100%;
         display: grid;
         grid-template-columns: 1fr 60% 30px 33% 1fr;
         grid-template-areas:
             "  header header header header header"
             " search search search search search"
             " filter  filter filter filter filter"
             "  . main .  aside . "
             ". activity  activity activity . "
             " footer footer footer footer footer"
         ;
     }

     header {
         grid-area: header;
     }

     .search {
         grid-area: search;
         margin: 0;
     }





     .filter {
         grid-area: filter;
     }

     .filter-title {
         width: unset;
         margin: 0;
         padding-top: 50px;
         margin-right: 40px;
     }

     main {
         background-color: #f2f2f2;
         height: auto;
         border-radius: 17px;
         grid-area: main;
         width: 100%;
         padding: 20px;
         margin-left: 15px;
     }

     aside {
         height: auto;
         border-radius: 17px;
         grid-area: aside;
         max-width: 400px;



     }

     .cards-aside {
         min-width: 290px;
     }




     #activity {
         grid-area: activity;


     }




     footer {
         grid-area: footer;
         width: 100%;
     }

     /* ++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++ NAVBAR ++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++ */


     .navbar-container {
         flex-wrap: nowrap;
         position: relative;
         top: -109px;

     }

     .hebergement-link {
         width: auto;
         margin-left: 60px;
         border-bottom: none;
         border-top: solid 3px #0065fc;
         padding-top: 40px;


     }

     .activity-link {
         width: auto;
         margin-left: 60px;
         border-bottom: none;
         padding-top: 40px;

     }

     .suscrib-link {
         position: initial;
         margin-left: 75px;
         padding-top: 40px;

     }

     .activity-link:hover {
         border-bottom: none;
         border-top: solid 3px #0065fc;
         color: #0065fc;
     }

     .suscrib-link:hover {

         color: #0065fc;
     }

     .titre_container {
         margin-top: -70px;
     }

     /* ++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++ SEARCH BAR ++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++ */


     .btn-recherche__input__submit {
         visibility: visible;
         position: absolute;
         height: 50px;
         border: none;
         border-radius: 0px 16px 16px 0px;
         background-color: #0065fc;
         color: #f2f2f2;
         font-weight: bold;
         padding: 15px;
     }

     .btn-recheche__loupe {
         visibility: hidden;
     }



     .hebergement_cards {
         max-width: 245px;
     }

     .moore {
         padding-bottom: 20px;
     }

     /* ++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++ FILTER  ++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++ */

     .filter-container {
         display: flex;
     }

     /* ++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++ ACTIVITY ++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++ */

     .cards-activity-content {
         display: grid;
         grid-template-columns: 22.5% 1fr 22.5% 1fr 22.5% 1fr 22.5%;
         grid-template-rows: 2fr;

     }

     .port {
         grid-column-start: 1;
         grid-column-end: 2;
         grid-row-start: 1;
         grid-row-end: 4;
     }

     .port img {
         height: 305px;

     }

     .fort {
         grid-column-start: 3;
         grid-column-end: 4;

         grid-row-start: 1;
         grid-row-end: 2;

     }

     .frioul {
         grid-column-start: 3;
         grid-column-end: 4;
         grid-row-start: 2;
         grid-row-end: 4;


     }






     .calanques {
         grid-column-start: 5;
         grid-column-end: 6;
         grid-row-start: 1;
         grid-row-end: 4;
     }

     .calanques img {
         height: 305px;
     }

     .dame {
         grid-column-start: 7;
         grid-column-end: 8;
         grid-row-start: 1;
         grid-row-end: 2;
     }

     .parc {
         grid-column-start: 7;
         grid-column-end: 8;
         grid-row-start: 2;
         grid-row-end: 3;
     }









     /* ++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++ FOOTER  ++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++ */

     footer {
         padding-top: 45px;
         padding-bottom: 50px;
     }

     .footer_body {
         display: flex;

     }

     .listb,
     .listc {
         margin-left: 150px;
     }

 }